{% extends 'base.html' %}

{% block content %}
    <h1>Moma Money Manager</h1>
    h1 {
        color: #fca205;
        font-family: "Monospace";
        font-style: italic;
      }

    <h5>Name:</h5>
    <p>{{name}}</p>

    <h5>Class:</h5>
    <p>{{class}}</p>
    <table>
        <tr>
            <p>
                Saldo : {{ total_amount }}
            </p>       
        </tr>
    </table>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Date Added</th>
    </tr>

    {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

    {% for product in products %}
        <tr>
            <td>{{product.name}}</td>
            <td>{{product.amount}}</td>
            <td>{{product.description}}</td>
            <td>{{product.date_added}}</td>
            <td>
                <a href="/delete/{{product.id}}"><button>Hapus Product Ini</button></a>
            </td>
            <td>
                <a href="{% url 'main:edit_item' product.pk %}">
                    <button>
                        Edit
                    </button>
                </a>
            </td>
        </tr>
    {% endfor %}
</table>
<table border="3">
    <tr>
        <th>Nama</th>
        <th>NPM</th>    
    </tr>
    <tr>
        <td>Rifqi Rahmatuloh</td>
        <td>2206820365</td>
    </tr>
</table>

<br />
<a href="{% url 'main:add_money' %}">
    <button>
        Add Money
    </button>
</a>
<a href="{% url 'main:logout' %}">
    <button>
        Logout
    </button>
    <h5>Sesi terakhir login: {{ last_login }}</h5>
</a>
{% endblock content %}